body {
    margin: 0;
    background-color: #D7DED3;

}

main {
    background-color: #fff;
    width: 1200px;
    margin: 10rem auto;
    padding: 4.2rem;
    display: flex;
    gap: 13.5rem;
    border-radius: .8rem;
}

.first-container {
    display: flex;
    flex-direction: column;
    flex: .6;
    height: 100%;
}

.link-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
h1 {
    margin: 0;  
    font-weight: 400;
    font-size: 4rem;
}
p {
    font-size:  2rem;
}

a {
    font-size: 20px;
    color:  #406A29;
    text-decoration: none;
}

.second-container {
    display: flex;  
    flex: 1; 
    gap: 2rem;
}

.box {
    background-color: green;
    aspect-ratio: 1/1;
    width: 30%;

}