body {
    margin: 0;
    background-color: #D7DED3;

}

main {
    background-color: #fff;
    width: 100%;
    margin: 10rem auto;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6.5rem;
    display: flex;
    box-sizing: border-box;
    gap: 2.7rem;
    border-radius: 8px;
    flex-direction: column;
}

.first-container {
    display: flex;
    flex-direction: column;
    flex: .6;
}

a {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: green;
    margin-top: auto;
}
h1 {
    margin: 0;  
    font-weight: 400;
    font-size: 2.5rem;
}
p {
    font-size:  1.5rem;
    margin-top:12px ;
    margin-bottom: 2.3rem;
}


.second-container {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.box {
    width: 100%;
    background-color: green;
    aspect-ratio: 1/1;
    border-radius: .5rem;

}

.box:nth-of-type(1) {
    background-image: url('./dram-1.jpeg');
    background-size: cover;
}

.box:nth-of-type(2) {
    background-image: url('./dram-2.jpeg');
    background-size: cover;
}
.box:nth-of-type(3) {
    background-color: #D0E1BB;
}
.box:nth-of-type(4) {
    background-color:  #fff;
    display: none;
}
.box:nth-of-type(5) {
    background-color: #BBC8E1;
    display: none;
}
.box:nth-of-type(6) {
    background-size: cover;
    background-image: url('./dram-3.jpeg');
}

@media only  screen and (min-width: 800px) {
    .second-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box:nth-of-type(4) {
        display: block;
    }
    .box:nth-of-type(5) {
        display: block;
    }

    main {
        padding: 4rem;
    }
    
}
 @media only  screen and (min-width: 800px) {
    
 }
