body {
    margin: 0;
    background-color: #D7DED3;

}

main {
    background-color: #fff;
    width: 1200px;
    margin: 10rem auto;
    padding: 4.2rem;
    display: flex;
    gap: 13.5rem;
    border-radius: .8rem;
}

.first-container {
    display: flex;
    flex-direction: column;
    flex: .6;
}

a {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: green;
    margin-top: auto;
}
h1 {
    margin: 0;  
    font-weight: 400;
    font-size: 2.5rem;
}
p {
    font-size:  2rem;
}


.second-container {
    display: flex;  
    flex: 1; 
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    width: 30%;
    background-color: green;
    aspect-ratio: 1/1;
    border-radius: .5rem;

}

.box:nth-of-type(1) {
    background-image: url('./dram-1.jpeg');
    background-size: cover;
}

.box:nth-of-type(2) {
    background-image: url('./dram-2.jpeg');
    background-size: cover;
}
.box:nth-of-type(3) {
    background-color: #D0E1BB;
}
.box:nth-of-type(4) {
    /* background-image: url('./dram-1.jpeg'); */
    /* background-size: cover; */
}